
.full{
	width: 100%;
	height: 100%;
	background: url(http://localhost/veterinariaelmister/Assets/images/ve-mister.jpg) no-repeat 100% 100%;
	background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url(http://localhost/veterinariaelmister/Assets/images/ve-mister.jpg) no-repeat center center fixed;
	background-size: cover;
	display: table;
	margin: auto;
	top:  0;
	/*margin-top: 30px;
	margin-bottom: 30px;*/
}

.full-inter{
	width: 100%;
	vertical-align: middle;
	display: table-cell;

	
}

.content{
	max-width: 700px;
	margin: auto;
	text-align: center;
	margin-bottom: 330px;
	margin-top: 330px;
}

.mascota{
    
     /**/
     color: #06c9c9;
    /* color: #B60050;*/
     font-style: normal;
    
     font-family: 'Secular One', sans-serif;
     
}

.content h1{
	color: white;
	font-size: 70px;
	text-shadow: 0 0 300px black;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 3px;
}